*.pyc
.py3venv
.vscode/.ropeproject
dket.egg-info
tests/toytask/**/*.log
tests/toytask/pointsoftmax-000/train
tests/toytask/pointsoftmax-000/eval
experiments/**/*.log
experiments/**/eval
experiments/**/train
